.about_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  top: 35%;
  right: 5%;
}

.about_left {
  position: absolute;
  bottom: -69px;
  right: 117px;
}

.about_mid {
  position: absolute;
  bottom: 69px;
  right: 117px;
}

.about_right {
  position: absolute;
  bottom: 135px;
}
