.about {
  padding-top: 100px;
}

.about_text {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
}

.scroll {
  position: relative;
  color: yellow;
  cursor: pointer;
}

.link {
  position: relative;
  text-decoration: none;
  color: white;
}

.link_logo {
  width: 25px;
  height: auto;
  padding-right: 5px;
}

.link_text {
  display: inline;
}

.linkedin {
  padding-left: 15%;
}

.github {
  padding-left: 20px;
}
