$black: #000000;
$red: #ff0000;
$yellow: #ffff00;
$blue: #0000ff;

.content {
  background-color: $black;
  position: relative;
  top: -100px;
  height: auto;
}

.divider_left {
  position: absolute;
  left: 20px;
}

.divider_right {
  position: absolute;
  right: 20px;
}

.title {
  color: $yellow;
}

.title_left {
  position: relative;
  left: 200px;
}

.title_right {
  position: relative;
  float: right;
  right: 200px;
}

@media (min-width: 1150px) {
  .divider_medium {
    display: none;
  }
  .divider_small {
    display: none;
  }
  .divider_x-small {
    display: none;
  }
}

@media (max-width: 1149px) and (min-width: 810px) {
  .divider_large {
    display: none;
  }
  .divider_small {
    display: none;
  }
  .divider_x-small {
    display: none;
  }
}

@media (max-width: 809px) and (min-width: 575px) {
  .divider_large {
    display: none;
  }
  .divider_medium {
    display: none;
  }
  .divider_x-small {
    display: none;
  }
  .title_left {
    left: 155px;
  }
  .title_right {
    right: 125px;
  }
}

@media (max-width: 574px) {
  .divider_large {
    display: none;
  }
  .divider_medium {
    display: none;
  }
  .divider_small {
    display: none;
  }
  .title_left {
    left: 155px;
  }
  .title_right {
    right: 125px;
  }
}
