@keyframes left_split_top {
  from {transform: translateY(0px);}
  to {transform: translateY(-120px);}
}

@keyframes left_split_mid {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(105px, -60px, 0px);}
}

@keyframes left_split_bottom {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(105px, 60px, 0px);}
}

.left_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  top: 19%;
  left: 5%;
}

.left_top {
  position: absolute;
  transform: translateY(-120px);
  animation-name: left_split_top;
  animation-duration: .6s;
}

.left_mid {
  position: absolute;
  transform: translate3d(105px, -60px, 0px);
  animation-name: left_split_mid;
  animation-duration: .5s;
}

.left_bottom {
  position: absolute;
  transform: translate3d(105px, 60px, 0px);
  animation-name: left_split_bottom;
  animation-duration: .4s;
}
