.nav_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 585px;
}

.button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.nav_about {
  position: absolute;
  top: -60px;
  left: 40%;
}

.nav_apps {
  position: absolute;
  top: -125px;
}

.nav_skills {
  position: absolute;
  top: -60px;
  right: 40%;
}
