.projects_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  top: 35%;
  left: 5%;
}

.projects_left {
  position: absolute;
  bottom: -69px;
  left: 117px;
}

.projects_mid {
  position: absolute;
  bottom: 69px;
  left: 117px;
}

.projects_right {
  position: absolute;
  bottom: 135px;
}
