@keyframes projects_split_left {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(105px, 60px, 0px);}
}

@keyframes projects_split_mid {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(105px, -60px, 0px);}
}

@keyframes projects_split_right {
  from {transform: translateY(0px);}
  to {transform: translateY(-120px);}
}

.projects_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  top: 35%;
  left: 5%;
}

.projects_left {
  position: absolute;
  transform: translate3d(105px, 60px, 0px);
  animation-name: projects_split_left;
  animation-duration: .4s;
}

.projects_mid {
  position: absolute;
  transform: translate3d(105px, -60px, 0px);
  animation-name: projects_split_mid;
  animation-duration: .5s;
}

.projects_right {
  position: absolute;
  transform: translateY(-120px);
  animation-name: projects_split_right;
  animation-duration: .6s;
}
