$yellow: #ffff00;

.projects {
  padding-top: 100px;
  height: 100vh;
}

.projects_list {
  position: relative;
  top: 140px;
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  width: 45%;
  margin: 15px;
  height: 200px;
  border: solid;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.projectName {
  flex: 1;
  padding: 10px;
  font-size: 50px;
  color: $yellow;
}

.projectLogo {
  width: 225px;
  height: auto;
  padding: 10px;
  padding-right: 100px;
}

.project:hover {
  color: red;
}