$yellow: #ffff00;
$red: #ff0000;

.projects {
  padding-top: 100px;
  height: 100vh;
}

.projects_list {
  position: relative;
  top: 140px;
  display: flex;
  flex-flow: row; 
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  width: 45%;
  margin: 15px;
  height: 200px;
  border: solid;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.projectName {
  flex: 1;
  padding: 10px;
  font-size: 50px;
  color: $yellow;
}

.projectLogo {
  width: 200px;
  height: auto;
  padding: 10px;
  padding-right: 45px;
}

.project:hover {
  color: $red;
}

@media (max-width: 1080px) {
  .projects {
    height: auto;
    padding-bottom: 200px;
  }
  .project {
    width: 100%;
  }
}

@media (max-width: 809px) {
  .projects_list {
    display: inline-block;
  }

  .project {
    display: inline-table;
    text-align: center;
    width: 90%;
  }
}
