@keyframes right_split_top {
  from {transform: translateY(0px);}
  to {transform: translateY(-120px);}
}

@keyframes right_split_mid {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(-105px, -60px, 0px);}
}

@keyframes right_split_bottom {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(-105px, 60px, 0px);}
}

.right_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  top: 25%;
  right: 5%;
}

.right_top {
  position: absolute;
  transform: translateY(-120px);
  animation-name: right_split_top;
  animation-duration: .6s;
}

.right_mid {
  position: absolute;
  transform: translate3d(-105px, -60px, 0px);
  animation-name: right_split_mid;
  animation-duration: .5s;
}

.right_bottom {
  position: absolute;
  transform: translate3d(-105px, 60px, 0px);
  animation-name: right_split_bottom;
  animation-duration: .4s;
}
