@keyframes skills_split_left {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(-105px, 60px, 0px);}
}

@keyframes skills_split_mid {
  from {transform: translate3d(0px, 0px, 0px);}
  to {transform: translate3d(-105px, -60px, 0px);}
}

@keyframes skills_split_right {
  from {transform: translateY(0px);}
  to {transform: translateY(-120px);}
}

.skills_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  top: 35%;
  right: 5%;
}

.skills_left {
  position: absolute;
  transform: translate3d(-105px, 60px, 0px);
  animation-name: skills_split_left;
  animation-duration: .4s;
}

.skills_mid {
  position: absolute;
  transform: translate3d(-105px, -60px, 0px);
  animation-name: skills_split_mid;
  animation-duration: .5s;
}

.skills_right {
  position: absolute;
  transform: translateY(-120px);
  animation-name: skills_split_right;
  animation-duration: .6s;
}
