.skills_container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  top: 35%;
  right: 5%;
}

.skills_left {
  position: absolute;
  bottom: -67px;
  right: 7%;
}

.skills_mid {
  position: absolute;
  bottom: 60%;
  right: 7%;
}

.skills_right {
  position: absolute;
  bottom: 117%;;
}
