.top_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 585px;
}

.top_left {
  position: absolute;
  top: -60px;
  left: 40%;
}

.top_mid {
  position: absolute;
  top: -125px;
}

.top_right {
  position: absolute;
  top: -60px;
  right: 40%;
}
