.top_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 585px;
}

.top_left {
  position: absolute;
  transform: translate3d(-105px, -60px, 0px);
}

.top_mid {
  position: absolute;
  transform: translateY(-120px);
}

.top_right {
  position: absolute;
  transform: translate3d(105px, -60px, 0px);
}
